@page "/counter"
@inject HttpClient Http
@using WebAssemblyDemo.Pages.CounterPage;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="PostApi">PostApi</button>

<button class="btn btn-primary" @onclick="PopMessage">消息框</button>

<CascadingValue Name="CurrentCount" Value="@currentCount">
    <CounterBox OnCurrentCountInc="onCurrentCountInc"/>
</CascadingValue>

<!--
<Message @ref="Message" Placement="Placement.Bottom" />
-->


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void onCurrentCountInc(int i)
    {
        currentCount = i;
    }

    private async Task PostApi()
    {
        await Http.PostAsJsonAsync("/api", new
        {
            Id=123
        });
    }
}
